// .clnt-flexcont {
//   display: flex;
// }

.clnt-flexcont .clnt-element {
  @extend %flex-center;
  justify-content: none;
  width: calc((100%-30px) / 1);
  margin-right: 30px;
  
  // &:nth-child(6n) {
  //   margin-right: 0px;
  //   }
  }



.clnt-element .link {
  @extend %flex-center;
  
  border: 1px solid $clnt-bord;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  fill: $clnt-bord;
  
  @include trans-on-sec (border, fill);
  

  &:hover {
    border: 1px solid $weblog-btn-link;
    fill: $weblog-btn-link;
  }
}