.advantage {
  .adv-flexcont {
    text-align: center;
    // display: flex;
  }
}
  
  .adv-element {
    display: inline-flex;
    flex-direction: column;
    width: calc((100%-30px) / 1);
    // margin-right: 30px;
  
    &:nth-child(4n) {
    margin-right: 0px;
  }
  
    .link {
    @extend %flex-center;
  
    width: 270px;
    height: 120px;
    background-color: $bgr-sectteam;
    border-radius: 4px;
  }
  
  .feature {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: $secondary-color;
  }
}