.footer {
  background: $bgr-footer;
  
  padding-top: 60px;
  padding-bottom: 60px;
 
}

.footer-flex {
  text-align: center;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  @media screen and(min-width: 1200px) {
    align-items: baseline;
    justify-content: space-between;
  }
}
.footflex-elem:not(:first-child) {
  margin-top: 60px;

  @media screen and(min-width: 768px) {
    margin-top: 5px;
  }

}


  .footflex-elem:last-child {

    @media screen and(min-width: 768px) and(max-width: 1199px)  {
      margin-top: 60px;}

}


.footer-adress {
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  .adress-link:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress-map {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: $logo-bgr-color;

  @include trans-on(color);

  &:hover {
    color: $weblog-btn-link;
  }
}
.footer-contacts {
  @extend .adress-map;
  color: $footer-contact;

  &:hover {
    color: $weblog-btn-link;
  }
}

.footflex-elem h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  color: $logo-bgr-color;
  background: $bgr-box;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footsoc-block {
  display: flex;
  justify-content: center;
}

.footer-soc,
.footer-registr {
  margin-bottom: 20px;
}
