.hero {
  text-align: center;
  
  background-color: $secondary-color;
  height: 400px;
  
  margin-left: auto;
  margin-right: auto;
      
  background-image: linear-gradient(to right, $bgr-box, $bgr-box),
      url(../images/img-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  // background-size: contain;

  @media screen and (min-width: width 768px){
    
  }

  @media screen and (min-width: width 768px){
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
  
.page-title {
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  color: $logo-bgr-color;
  text-align: center;
}
  
  