.header-page {
    position: relative;
    background-color: $logo-bgr-color;
    border: 1px solid #ECECEC;
  }
  
.main-navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
    justify-content: space-between;
  }
  
  
    
  .menu-navi {

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      // margin-left: 85px;
    
      & .item:not(:first-child) {
        margin-left: 50px;
    }
    
  }
}
}

.menu-navi .item:not(:first-child) {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.link-navi {
    display: inline-flex;
    align-items: center;
    justify-content: none;
    // padding-top: 32px;
    // padding-bottom: 32px;


  
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1667;
    letter-spacing: 0.02em;
  
    color: $secondary-color;
  
    @include trans-on (color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.1428;
    }

    &:hover,
    &:focus {
    color: $weblog-btn-link;
    fill: $weblog-btn-link;

  }
}




.contacts {
  margin-top: 60px;
  // display: flex;
  // margin-left: auto;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    
    margin-left: 305px;
  }
 
  
  & .item {
    @media screen and (min-width: 1200px) {
    
      display: inline-flex;
    align-items: center;
  
  
    & + .item {
      margin-left: 30px;
    }
    }
    
    & + .item:not(:first-child) {
      margin-top: 16px;

      @media screen and (min-width: 768px) {
        margin-top: 10px;
      }
    }
  }

}
    
.contacts-link {
  @extend .link-navi;
  color: $primary-text-color;
  fill: $primary-text-color;
  
  @include trans-on-sec (fill, color);

  @media screen and (min-width: 768px) {
  
    font-size: 12px;
    line-height: 1.1667;
    }

  @media screen and (min-width: 1200px) {
  
    font-size: 14px;
    line-height: 1.1428;
    }  
  
  &:hover,
  &:focus {
    color: $weblog-btn-link;
    fill: $weblog-btn-link;
  }

  .mail-icon {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
  }
  
  .phone-icon {
    width: 10px;
    height: 14.94px;
    margin-right: 10px;
  }
}
  
  