.header-page {
    background-color: var(--logo-bgr-color);
  }
  
.main-navi {
  

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  
  
    
  .menu-navi {

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 85px;
    
      & .item:not(:first-child) {
        margin-left: 50px;
    }
    
  }
}
}

.link-navi {
    display: inline-flex;
    align-items: center;
    justify-content: none;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
  
    color: $secondary-color;
  
    @include trans-on (color);
    &:hover,
    &:focus {
    color: $weblog-btn-link;
    fill: $weblog-btn-link;
  }
}

// .contacts {
//   // display: flex;
//   // margin-left: auto;
 
  
//   & .item {
//     // display: inline-flex;
//     // align-items: center;
  
  
//     // & + .item {
//     //   margin-left: 30px;
//     // }
//   }
// }
    
.contacts-link {
  @extend .link-navi;
  color: $primary-text-color;
  fill: $primary-text-color;
  
  @include trans-on-sec (fill, color);
  
  &:hover,
  &:focus {
    color: $weblog-btn-link;
    fill: $weblog-btn-link;
  }

  .mail-icon {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
  }
  
  .phone-icon {
    width: 10px;
    height: 14.94px;
    margin-right: 10px;
  }
}
  
  