.container {
  margin-right: auto;
  margin-left: auto;
  
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: width 768px){
    
  }

  @media screen and (min-width: width 1200){
    width: 1200px;
  }

  .advantage & {
    padding-top: 94px;
  }

  .box-section &, .team-section &, .client-section & {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}