.current {
    color: $weblog-btn-link;
    position: relative;
    padding-bottom: 8px;

    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
      padding-top: 32px;
    }
    
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0px;
    background: $weblog-btn-link;
    border-radius: 2px;
  }
}