* {
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: 2px solid tomato;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
}

.list {
  padding-left: 0px;
  list-style: none;
}

body {
  @extend %font;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.1786;
  color: $secondary-color;

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.1667;
  }
}
