* {
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: 2px solid tomato;
}
  
html {
  box-sizing: border-box;
  }
  
*, *::before, *::after {
  box-sizing: inherit;
}
  
img {
  display: block;
}

.list {
  padding-left: 0px;
  list-style: none;
}

body {
  @extend %font;
}
