.soc-link {
  @extend %flex-center;
  width: 44px;
  height: 44px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  background-color: $logo-bgr-color 10%;
  fill: $clnt-bord;

  @include trans-on-sec(background-color, fill);

  &:not(:last-child) {
    margin-right: 10px;
  }

  .footsoc-block & {
    background: $footsoc-bgr;
    fill: $logo-bgr-color;
  }

  &:hover {
    background-color: $weblog-btn-link;
    fill: $logo-bgr-color;
  }
}
