  $primary-text-color: #757575;
  $secondary-color: #212121;
  $logo-bgr-color: #ffffff;
  $weblog-btn-link: #2196f3;
  $studiolog: #000000;
  $footer-contact: rgba(255, 255, 255, 0.6);
  $btn-hover: #188ce8;
  $btn-box: rgba(0, 0, 0, 0.15);
  $bgr-box: rgba(47, 48, 58, 0.8);
  $bgr-sectteam: #f5f4fa;
  $bgr-footer: #2f303a;
  $clnt-bord: #afb1b8;
  $hover-over-bgr: rgba(33, 150, 243, 0.9);
  $footsoc-bgr: rgba(255, 255, 255, 0.1);

  